<form class="form-inline">
        <input name="searchInput" class="form-control" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
        <button class="btn btn-outline-primary" (click)="searchText=''">Filter</button>
</form>

<div class="d-flex justify-content-between">

        <button class="btn btn-success btn-sm my-2 mx-3" (click)="onShowForm()">Add contact</button>    
        <button class="btn btn-danger btn-sm my-2 mx-3" (click)="onDelete()">Delete All</button>

</div>

<div class="p-1 table-responsive">
        <table class="table table-sm table-hover table-dark">
                <thead>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>comment</th> 

                        <th></th>
                </thead>
                <tbody>
                        <ng-container *ngFor="let Contact of ContactArray">
                               
                                <tr id="t-row" *ngIf="filterCondition(Contact)">
                                        <td class="align-middle">{{Contact.FirstName}}</td>
                                        <td class="align-middle">{{Contact.LastName}}</td>
                                        <td class="align-middle">{{Contact.PhoneNumber}}</td>
                                        <td class="align-middle">{{Contact.Email}}</td>
                                        <td class="align-middle">{{Contact.Type}}</td>
                                        <td class="align-middle">{{Contact.comment}}</td>
                                        <td>
                                                <button class="btn btn-info" (click)="ContactService.populateForm(Contact)" (click)="onShowForm('edit')">Edit</button>


                                                <button class="btn btn-danger" (click)="onDelete(Contact.$key)">Delete</button>
                                        </td>
                                </tr>
                        </ng-container>
                </tbody>
        </table>

<div class="alert alert-danger" *ngIf="showDeletedMessage">Deleted successfully</div>



