<form class="form-inline">
        <input name="searchInput" class="form-control" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
        <button class="btn btn-outline-primary" (click)="searchText=''">Filter</button>
</form>


<table class="table table-sm">
        <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Type</th>
                <th>comment</th>

                <th></th>
        </thead>
        <ng-container *ngFor="let Contact of ContactArray">
                <tr id="t-row" *ngIf="filterCondition(Contact)">
                        <td>{{Contact.FirstName}}</td>
                        <td>{{Contact.LastName}}</td>
                        <td>{{Contact.PhoneNumber}}</td>
                        <td>{{Contact.Email}}</td>
                        <td>{{Contact.Type}}</td>
                        <td>{{Contact.comment}}</td>
                        <td>
                                <button class="btn btn-info" (click)="ContactService.populateForm(Contact)">Edit</button>


                                <button class="btn btn-danger" (click)="onDelete(Contact.$key)">Delete</button>


                        </td>
                </tr>
        </ng-container>
</table>
<div class="alert alert-danger" *ngIf="showDeletedMessage">Deleted successfully</div>



