
<form class="form-line">
       <input id="select" type="radio" name="Check" (click)="searchTextFirst=''" checked="true">All
       <input id="select" type="radio" name="Check" (click)="searchTextFirst='Student'">Student
       <input id="select" type="radio" name="Check" (click)="searchTextFirst='Company'">Company
       <input id="select" type="radio" name="Check" (click)="searchTextFirst='Lunch-speaker'">Lunchspeaker
</form>
<div class="container">
<form class="form-inline row">
        <input id="search" name="searchInput" class="col-lg-10 col-md-10 col-sm-8 form-control" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText">
        <button id="btn" class="col-lg-1 col-md-1 col-sm-2 btn btn-outline-success" (click)="searchText=''">Reset</button>
</form>
</div>
<div class="container">
<div class="d-flex justify-content-between row" >
<button class=" btn btn-success btn-sm my-2 col-lg-2 col-md-2 col-sm-3" (click)="onShowForm()">Add contact</button>    
      
</div>
</div>
<div id="table" class="p-1 table-responsive">
        <table  class="table table-sm table-hover table-dark">
                <thead>
                        <th id="text">Photo</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th id="text">Type</th>
                        <th id="text">Comment</th> 

                        <th></th>
                </thead>
                <tbody>
                        <ng-container  *ngFor="let Contact of ContactArray">
                               
                                <tr id="t-row" *ngIf="filterConditionFirst(Contact) && filterCondition(Contact)">
                                        <td id="text" class="align-middle"><img class="img-thumbnail" style="height: auto; width: 90px;" src="{{Contact.Photo}}" alt="your picture"></td>
                                        <td class="align-middle">{{Contact.FirstName}} {{Contact.LastName}}</td>
                                        <td class="align-middle">{{Contact.PhoneNumber}}</td>
                                        <td class="align-middle">{{Contact.Email}}</td>
                                        <td  id="text"class="align-middle">{{Contact.Type}}</td>
                                        <td  id="text"class="align-middle">{{Contact.Comment}}</td>
                                        <td class="align-middle">
                                            <div id="btn-list" class="btn-group">
                                                <button class="btn btn-sm btn-info" (click)="ContactService.populateForm(Contact)" (click)="onShowForm('edit')">Edit</button>
                                                <button class="btn btn-sm btn-danger" (click)="onDelete(Contact.$key)">Delete</button>
                                            </div>
                                        </td>
                                </tr>
                        </ng-container>
                </tbody>
        </table>

<div class="alert alert-danger" *ngIf="showDeletedMessage">Deleted successfully</div>



